<Router AppAssembly="@typeof(App).Assembly" @rendermode="new InteractiveWebAssemblyRenderMode()">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <p role="alert">Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>
